<!DOCTYPE html>
<html>
    <head>
        <title>Ошибка</title>
        <link rel='stylesheet' type='text/css' href='../static/style.css'>
        <meta charset='utf-8'/>
    </head>
    <body>
        <h1>Что-то пошло не так</h1>
        <p>Пожалуйста, проверьте правильность заполненных данных. Среди возможных причин:</p>
            <ol>
                <li>Данные в формате <b>JSON</b> можно предоставлять только по одному автомобилю;
                    для получения стоимости сразу по нескольким автомобилям, пожалуйста, 
                    загрузите файл в формате <b>CSV</b>
                <li>Следует добавлять данные в диалоговое окно следующим образом: 
                    {<i>"название признака": "значение признака"</i>, ...}
                <li>Указаны не все признаки автомобиля, единственным опциональным признаком 
                    является цена (<i>selling_price</i>)
            </ol>
        <form action='/', method='get'>
            <button type="submit">Вернуться на главную</button>
        </form>
    </body>
</html>
